<% _.each( goals, function(goal){ %>
<i class="fa fa-circle" style="color: <%= goal.goalColor %>"></i><span class="goal-title"
                                                                       style="color: <%= goal.goalColor %>">  <%= goal.goalName %></span>
<% }); %>
